DATABASE_URL="postgresql://jaama_user:jaama_pass@localhost:5435/jaama_db?schema=public"
SESSION_SECRET="change-this-to-a-secure-32-byte-secret-in-production"
PORT=3001
NODE_ENV="development"
CORS_ALLOWED_ORIGINS="http://localhost:3000"
