# Enforce LF line endings for all text files across Windows, Linux and macOS
* text=auto eol=lf
pnpm-lock.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
