node-linker=hoisted
only-built-dependencies=esbuild,unrs-resolver
never-built-dependencies=esbuild,unrs-resolver
supportedArchitectures.os=current,win32,linux,darwin
supportedArchitectures.cpu=current,x64,arm64
